################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SortWord/v16/ipch/AutoPCH
/.vs
/out/build
/out/install/x64-Debug/lib
/out/install/x64-Debug/include
/out/install/x64-Release/lib
/out/install/x64-Release/include
