################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SortWord/v16/ipch/AutoPCH
/.vs
/out/build
